
@import './header';
@import './mixins';
@import './variables';
@import './main';

*{
    @include format-document;
}

h4{
font-size: $size1-big2;
color: $primary-color-variant;
}

aside{
    width: 30%;
    height: 400px;
    float: left;
    border: 2px solid rgb(247, 243, 243);
    display: center;
    margin: 0px 0px 0px 0px ;
    text-align: center;
    align-items: center;
    color: black;
    background-color: $primary-color-variant1;
    box-sizing: border-box;
    
    
}

aside label{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: $size1-big2;
    color: $primary-color-variant1;
    
}

aside input{
    width: 100%;
    height: 30px;
    border: 2px solid rgb(238, 231, 231);
    color: $primary-color-variant1;
    

}
button{
    border: 2px solid $primary-color-variant;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    @include colores-button;
}

button:hover{
    transform: translateY(1px);
    box-shadow: 0px 30px 5px -15px rgb(252, 250, 250);
}

.sub-formulario{
    margin-top: 15px;
}
.sub-formulario{
    animation: bounce1 1s alternate infinite ease-in-out;
}

@keyframes bounce1{
    50%{
        transform: translateY(-20%);
    }
}





